
/* --------------------------------------------------------------

	Author: Alexander Hansson
	Author URI: http://alexanderhansson.se
	Minimum size. Maximum profit. 

	TABLE OF CONTENTS
	------------------
	0. IMPORT
	1. RESET
	2. BASIC STYLES
	3. TYPOGRAPHY
	4. SITE
		4.1 HEADER
		4.2 CONTENT
		4.3 FOOTER
	5. GRID
	6. MEDIA QUERIES
	7. PRINT



/* --------------------------------------------------------------
		0. IMPORT
-------------------------------------------------------------- */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,300,400,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Nunito:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);

/* --------------------------------------------------------------
		1. RESET
-------------------------------------------------------------- */

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}

/* --------------------------------------------------------------
		1. BASIC STYLES
-------------------------------------------------------------- */

* {
	margin: 0;
	padding: 0;	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html { 
	overflow-y: scroll; 
}

body {
	font-size: 100%/1.5;
	font-family: 'Lato', sans-serif;
}

img {
	max-width: 100%; 
}

::selection { 
	background: black;
	color:#fff; 
	text-shadow : none; 
}

::-moz-selection { 
	background: black;
	color:#fff; 
	text-shadow : none; 
}

a, a:visited {
	text-decoration: underline;
	color: inherit;
}

	a:hover, a:focus {
		color: #f1f1f1;
	}

/* --------------------------------------------------------------
		3. TYPOGRAPHY
-------------------------------------------------------------- */

small{font-size: 85%;}
em{font-style: italic;}
strong{font-weight: 700;}
hr{border:none;width: 60%;height:1px;background:#333;margin:3em auto;}

h1,h2 {
	color:#f38065;
}

h1 { 
	font-size: 42px;
}

h2 { 
	font-size: 32px;
}

h3 { 
	font-size: 18px;
}

h1,h2,h3 {
	margin-bottom: 12px;
	line-height: 1em;
}

p {
	font-size:16px;
	line-height:1.6em;
	display: block;
	margin-bottom: 18px; 
	font-weight: 400;
}

	p:last-child {
		margin-bottom: 0;
	}

/* --------------------------------------------------------------
		4. SITE
			4.1 HEADER
-------------------------------------------------------------- */

#top {
	overflow: hidden;
	padding: 20px 35px;

	background: #fff;
	border-bottom: 1px solid rgba(22,36,54,.1);
}
	#top a {
		float: left;
		font-size: 16px;
		font-weight: 500;
		text-decoration: none;
		color: #333;
	}

	#top ul {
		list-style: none;
		float: right;
	}
		#top ul li {
			float: left;
			padding-left: 40px;
		}
		#top ul a {
			display: inline-block;
			color: #333;
		}

/* --------------------------------------------------------------
			4.2 CONTENT
-------------------------------------------------------------- */

.article-single, .page-top {
	margin-top: 40px !important;
}

.article-single small {
	display: block;
	margin-bottom: 20px;
}


/* --------------------------------------------------------------
			4.3 FOOTER
-------------------------------------------------------------- */

footer {
	padding: 80px 0 40px;
	text-align: center;
}
	footer p {
		font-size: 12px;	
	}

	footer p a:hover {
		color: black;
	}

/* --------------------------------------------------------------
	5. GRID
-------------------------------------------------------------- */

.container {
	max-width: 660px;
	margin: 0 auto;
	padding: 0 20px;
}
	
	.container:after {
	  content: "";
	  display: table;
	  clear: both;
	}

[class*='box-'], .box {
	float: left;
	display: inline-block;
	padding: 20px 5px;
}


.box-12    {width: 100%; }
.box-11    {width: 91.6%;}
.box-10    {width: 83.3%;}
.box-9     {width: 75%;  }
.box-8     {width: 66.6%;}
.box-7     {width: 58.3%;}
.box-6     {width: 50%;  }
.box-5     {width: 41.6%;}
.box-4     {width: 33.3%;}
.box-3     {width: 25%;  }
.box-2     {width: 16.6%;}
.box-1     {width: 8.3%; }


/* --------------------------------------------------------------
	6. MEDIA QUERIES 
-------------------------------------------------------------- */

@media screen and (min-width: 540px) and (max-width: 960px) {

	.container {
		max-width: 760px;
	}


	.tablet-12    {width: 100%; }
	.tablet-11    {width: 91.6%;}
	.tablet-10    {width: 83.3}
	.tablet-9     {width: 75%;  }
	.tablet-8     {width: 66.6%;}
	.tablet-7     {width: 58.3%;}
	.tablet-6     {width: 50%;  }
	.tablet-5     {width: 41.6%;}
	.tablet-4     {width: 33.3%;}
	.tablet-3     {width: 25%;  }
	.tablet-2     {width: 16.6%;}
	.tablet-1     {width: 8.3%; }


}

	@media only screen and (max-width: 540px) {
		[class*='box-'] {
			width: 100%;
			margin-left: 0;
			display: block;
		}
	}


/* --------------------------------------------------------------
		7. PRINT
-------------------------------------------------------------- */

@media print{*{background:transparent !important;color:#000 !important;box-shadow:none !important;text-shadow:none !important}
a,a:visited{text-decoration:underline}
a[href]:after{content:" (" attr(href) ")"}
abbr[title]:after{content:" (" attr(title) ")"}
.ir a:after,a[href^="javascript:"]:after,a[href^="#"]:after{content:""}
pre,blockquote{border:1px solid #999;page-break-inside:avoid}
thead{display:table-header-group}
tr,img{page-break-inside:avoid}
img{max-width:100% !important}
@page{margin:.5cm}
p,h2,h3{orphans:3;widows:3}
h2,h3{page-break-after:avoid}}


/* --------------------------------------------------------------
		ANCHOR STYLES — items, pagination & comments
-------------------------------------------------------------- */


/**
 *   Index page listing, category listing, search page results
 */
.items {
	list-style: none;
	float: left;
}
		.posts .items > li {
			background: #fff !important;
			padding: 60px 0 100px 0;
			border-bottom: 1px solid rgba(22,36,54,.1);
		}
			.items li h1 a, .posts .items > li h2 a {
				color: #f38065;
			}

	.items h1 {
		padding: 0;
	}
		.items h1 a {
			text-decoration: none;
		}
	.items h2 {
		font-size: 32px;
		line-height: 41px;
	}
		.items h2 a {
			display: block;
			padding-bottom: 12px;

			color: #fff;
			color: rgba(176,200,236,.8);

			text-decoration: none;
		}
			.items h2 a:hover {
				color: #fff;
			}

			.items small, small {
				display: block;
				margin-bottom: 10px;
				color: #999;
			}

/**
 *   Pagination
 */
.pagination {
	overflow: hidden;
	padding: 30px 0;
	margin-bottom: 50px;

	border-bottom: 1px solid rgba(22,36,54,.1);
}
	.pagination:empty {
		display: none;
	}
	.pagination a {
		float: left;
		text-decoration: none;

		font-size: 13px;
		font-weight: 500;

		color: #6f7b8b;
	}
		.pagination a:hover {
			color: #3c4857;
		}
	.pagination a.next {
		float: right;
	}



/**
 *   Comment form
 */
ul.commentlist {
	margin-bottom: 40px;

	list-style: none;
	border-top: 1px solid rgba(22,36,54,.1);
}
	ul.commentlist {
		position: relative;
	}
	ul.commentlist li {
		padding: 40px 0;
		border-bottom: 1px solid rgba(22,36,54,.1);
	}
		ul.commentlist time {
			font-size: 13px;
			margin-bottom: 15px;
			display: block;
		}
		ul.commentlist h2 {
			font-size: 25px;
			line-height: 33px;
		}
		ul.commentlist .counter {
			position: absolute;
			right: 0;
			top: 0;

			font-size: 25px;
			font-weight: 300;
			color: #cdd2da;
		}

#comment {
	overflow: hidden;
}
	#comment label[for] {
		display: none;
	}
	#comment p {
		float: left;
		width: 48%;
		margin-right: 4%;
		margin-bottom: 10px;

		text-indent: 0;
	}
		#comment p + p {
			margin-right: 0;
		}
		#comment p.textarea {
			float: none;
			width: 100%;
		}
	#comment input, #comment textarea {
		width: 100%;
		padding: 10px 15px;

		font-size: 15px;
		font-weight: normal;

		border: 1px solid rgba(22,36,54,.2);
		border-radius: 4px;
	}
		#comment input:focus, #comment textarea:focus {
			outline: none;
			background: #f7f9fc;
		}
		#comment textarea {
			min-height: 150px;
			max-height: 800px;
			resize: vertical;
		}

	#comment button, .btn-posts {
		display: inline-block;
		padding: 9px 18px;

		background: #f38065;
		color: #fff !important;
		text-decoration: none;

		border: none;
		border-radius: 5px;
		cursor: pointer;

		font-size: 13px;
		font-weight: 500;
	}
		#comment button:hover, .btn-posts:hover {
			background: #b98072;
		}

		.btn-posts {
			line-height: 1.2;
			float: right;
			display: inline-block;
			margin-top: 40px;
		}

			.btn-posts i {
				margin-left: 5px;
			}

			.nocomments {
				color: #999;
			}

			.twitter {
				float: none;
				background: #55ACEE;
			}

			.twitter:hover {
				background: #55ACEE;
				opacity: .9;
			}

			.twitter i {
				margin-right: 5px;
				margin-left: 0;
			}

