/* --------------------------------------------------------------
		5. FIXES
-------------------------------------------------------------- */

/* Firefox Fix */
button::-moz-focus-inner, input[type=reset]::-moz-focus-inner, input[type=button]::-moz-focus-inner, input[type=submit]::-moz-focus-inner, input[type=file] > input[type=button]::-moz-focus-inner {border: 0; margin: 0; padding: 0;}

/* WebKit Fix */
input[type=search], input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {-webkit-appearance: none;}
[placeholder]:focus::-webkit-input-placeholder { color: transparent; }

/* iOS7 Fix - some inputs collapse when empty */
input[type=text], input[type=password], input[type=search], input[type=email], input[type=url], input[type=tel], input[type=date], input[type=time], input[type=number] {height: 2em;}

/* Disable max-width for Google Map images */
#map_canvas img, .google-maps img {max-width: none;}

img, object, embed {border: none;-ms-interpolation-mode: bicubic;display: block; vertical-align: middle; max-width: 100%; width: auto; width: auto\9; /* IE Fix */ height: auto; border: 0;}


/* --------------------------------------------------------------
		HELP CLASSES
-------------------------------------------------------------- */

.no-padding {padding: 0 !important;}
.no-margin {margin: 0 !important;}
.float-l {float: left;}
.float-r {float: right;}

.hidden {display: none;}
.notvisible {visibility: hidden;}

.pt100 {padding-top:100px}
.pt50 {padding-top:50px}
.pt20 {padding-top:20px}
.pb100 {padding-bottom:100px}
.pb50 {padding-bottom:50px}
.pb20 {padding-bottom:20px}
.mt100 {margin-top:100px}
.mt50 {margin-top:50px}
.mt20 {margin-top:20px}
.mb100 {margin-bottom:100px}
.mb50 {margin-bottom:50px}
.mb20 {margin-bottom:20px}

@media @phone {
	[class*='mb'] {
		margin-bottom: 0;
	}
	[class*='mt'] {
		margin-top: 0;
	}
	[class*='pb'] {
		padding-bottom: 0;
	}
	[class*='pt'] {
		padding-top: 0;
	}
}

.centered {margin-right: auto;margin-left: auto;display: block;float: none;}




/* --------------------------------------------------------------
		PRINT
-------------------------------------------------------------- */

@media print{
*{background:transparent !important;color:#000 !important;box-shadow:none !important;text-shadow:none !important}
a,a:visited{text-decoration:underline}
a[href]:after{content:" (" attr(href) ")"}
abbr[title]:after{content:" (" attr(title) ")"}
.ir a:after,a[href^="javascript:"]:after,a[href^="#"]:after{content:""}
pre,blockquote{border:1px solid #999;page-break-inside:avoid}
thead{display:table-header-group}
tr,img{page-break-inside:avoid}
img{max-width:100% !important}
@page{margin:2cm}
p,h2,h3{orphans:3;widows:3}
h2,h3{page-break-after:avoid}
}




